### Proyecto de un analisis exploratorio de datos, de acccidentes en USA

In [2]:
# Autor: [Ing. Mateo Montiel Lopez]
#Carrera: [Ingenieria en Sistemas Computacionales]

#Importar las librerias que se van usan en este proyectoimport pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import os
os.chdir(r'C:\Users\monti.UNITY12\OneDrive\Documentos\Portafolio de analisis de datos sobre Accidentes en USA')

In [14]:
#Leer el archivo csv, que contiene la informacion de los accidentes de USA
df = pd.read_csv('accidentes.csv', parse_dates=['Fecha'], index_col='NumeroCaso')
df.head()

,Estado,NombreEstado,Peatones,Personas _no_vehiculos,Vehiculos automotores,VehiculosEstacionados,Condado,NombreCondado,Ciudad,NombreCiudad,...,Clima,Autobus Escolar,Cruce de Trenes,Hora Notificacion,Minuto Notificacion,Hora Llegada,Minuto Llegada,Decesos,Fecha,PersonaVehiculo
NumeroCaso,,,,,,,,,,,,,,,,,,,,,
10001,1,NaN,NaN,0.0,2,0,107,PICKENS (107),0,NaN,...,Despejado,No,NO APLICA,12,47,13,4,1,01/01/2022,3
10002,1,Alabama,0.0,NaN,2,0,101,MONTGOMERY (101),0,NO APLICA,...,Despejado,No,NO APLICA,99,99,99,99,2,01/01/2022,5
10003,1,NaN,0.0,0.0,1,0,115,ST. CLAIR (115),0,NO APLICA,...,Nublado,No,NO APLICA,1,33,1,50,1,01/01/2022,2
10004,1,Alabama,NaN,0.0,1,0,101,MONTGOMERY (101),0,NO APLICA,...,Nublado,No,NO APLICA,14,48,15,9,1,02/01/2022,1
10005,1,Alabama,1.0,1.0,1,0,73,JEFFERSON (73),0,NO APLICA,...,lluvia,No,NO APLICA,18,48,18,54,1,02/01/2022,1

In [16]:
#Contar el numero de filas vacias en cada columna
df.isnull().sum()

Estado                         0
NombreEstado                   2
Peatones                       3
Personas _no_vehiculos         2
Vehiculos automotores          0
VehiculosEstacionados          0
Condado                        0
NombreCondado                  0
Ciudad                         0
NombreCiudad                   1
Mes                            0
Nombre Mes                     0
AÃ±o                            0
Hora                           0
Minuto                         0
Calle                          0
Ruta                           0
Nombre Ruta                    0
Rural o Urbanoo                0
Sistema Funcional              0
DueÃ±o Calle                    0
Sistema Nacional Carreteras    0
Jurisdiccion Especial          0
Milla                          0
Latitud                        0
Longitud                       0
Causa del Accidente            0
Tipo de Accidente              0
Tipo Interseccion              0
Lugar en la calle              0
Zona de Trabajo                0
Luz                            0
Clima                          0
Autobus Escolar                0
Cruce de Trenes                0
Hora Notificacion              0
Minuto Notificacion            0
Hora Llegada                   0
Minuto Llegada                 0
Decesos                        0
Fecha                          0
PersonaVehiculo                0
dtype: int64

In [19]:
#Realizar la limpieza de datos,
#Eliminar las filas vacias
df.dropna(inplace=True)
df

,Estado,NombreEstado,Peatones,Personas _no_vehiculos,Vehiculos automotores,VehiculosEstacionados,Condado,NombreCondado,Ciudad,NombreCiudad,...,Clima,Autobus Escolar,Cruce de Trenes,Hora Notificacion,Minuto Notificacion,Hora Llegada,Minuto Llegada,Decesos,Fecha,PersonaVehiculo
NumeroCaso,,,,,,,,,,,,,,,,,,,,,
10005,1,Alabama,1.0,1.0,1,0,73,JEFFERSON (73),0,NO APLICA,...,lluvia,No,NO APLICA,18,48,18,54,1,02/01/2022,1
10006,1,Alabama,1.0,1.0,1,0,101,MONTGOMERY (101),2130,MONTGOMERY,...,Despejado,No,NO APLICA,18,26,18,32,1,02/01/2022,5
10007,1,Alabama,0.0,0.0,2,0,63,GREENE (63),0,NO APLICA,...,Despejado,No,NO APLICA,99,99,99,99,1,04/01/2022,1
10008,1,Alabama,0.0,0.0,1,0,101,MONTGOMERY (101),0,NO APLICA,...,Despejado,No,NO APLICA,99,99,99,99,1,04/01/2022,1
10009,1,Alabama,0.0,0.0,2,0,71,JACKSON (71),0,NO APLICA,...,Despejado,No,NO APLICA,11,36,11,54,1,04/01/2022,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560114,56,Wyoming,0.0,0.0,2,0,37,SWEETWATER (37),730,ROCK SPRINGS,...,Despejado,No,NO APLICA,11,30,11,35,1,27/12/2022,2
560115,56,Wyoming,0.0,0.0,1,0,23,LINCOLN (23),0,NO APLICA,...,Nieve,No,NO APLICA,99,98,99,98,1,24/10/2022,1
560116,56,Wyoming,0.0,0.0,1,0,21,LARAMIE (21),100,CHEYENNE,...,Nieve,No,NO APLICA,15,2,15,7,1,21/12/2022,1
560117,56,Wyoming,0.0,0.0,1,0,19,JOHNSON (19),0,NO APLICA,...,Nieve,No,NO APLICA,7,24,7,40,1,22/12/2022,1
560118,56,Wyoming,0.0,0.0,1,0,21,LARAMIE (21),0,NO APLICA,...,Despejado,No,NO APLICA,5,6,5,25,1,17/12/2022,4